<div id="dashboardContainer">
  <div id="pageContent">
    <%= render 'layouts/form_menu' %>
    <div id="equityMain">
      <div class="equityTable">

<h1>Health Equity Booster Demo Video</h1>
<h5><%= flash[:notice] %></h5>
<br />
        <h2>From YouTube: (please click on lower-right corner to view full screen)
        <iframe width="420" height="315" src="http://www.youtube.com/embed/k6gLOvBJh0U" frameborder="0" allowfullscreen></iframe>
        </h2>
        <br />
        <br />
      </div><!-- end #equityTable -->
    </div><!-- end #equityMain -->
  </div><!-- end #pageContent -->
</div><!-- end #container -->
